:root {
    --primary-color: #00442D; /*British */
    --secondary-color: #CED6FF; /*Perlwinkle*/
    --accent1-color: #191A74; /*Midnight blue*/
    --accent2-color: #3F88C5; /*Steel blue*/
    --heading-font: "Poetsen One", sans-serif;
    --body-font: "Roboto", sans-serif;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    display: flex;
    position: relative;  
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position:absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.6;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: left;
    width: 125px;
}