:root {
    --primary-color: #00442D; /*British */
    --secondary-color: #CED6FF; /*Perlwinkle*/
    --accent1-color: #191A74; /*Midnight blue*/
    --accent2-color: #3F88C5; /*Steel blue*/
    --heading-font: "Poetsen One", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;  
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

header img{
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    margin-left: 20px;
    text-decoration: none;
    color: var(--secondary-color);
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}

h1, h2 {
    display: flex;
    flex-direction: column;
    font-family: var(--heading-font);
    color: var(--primary-color);
    align-items: center;
}

nav, p, section, article {
    
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.6;
    background-color: #00442D;
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}
.hero article {
    position: absolute;
    width:90%;
    text-align: start;
    color: #fff;
    opacity: 0.7;
    background-color:var(--primary-color);
    padding: 16px;

}
.adventures-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.adventures-images img{
    width: 100px;
    height: auto;
}


.adventures-images figure {
    margin: 0 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #191A74;
}
footer p {
    position: absolute;
    margin:0;
    color: #ccc;
}

.socialmedia {
    margin-left: auto;
    display: flex;
}

.history {
    display: flex;

}

.employees-profile-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.trip-cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trip{
    width: 30%;
    background-color: #3F88C5;
    padding: 1rem;
    border: #191A74;
    border-radius: 8px;
}
